# Ignore configuration files that may contain sensitive information.
default/settings.php

# Ignore paths that contain user-generated content.
default/files

# Ignore .DS_Store - commonly found on Macs
.DS_Store

# Ignore Sass & Compass config files
.sass-cache
config.rb

# Ignore Eclipse project files
.project