@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic);
@font-face {
  font-family: "Journal";
  src: url("../fonts/journal/journal-webfont.eot");
  src: url("../fonts/journal/journal-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/journal/journal-webfont.woff") format("woff");
  src: url("../fonts/journal/journal-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Junction";
  src: url("Junction-webfont.eot");
  src: url("Junction-webfont.eot?#iefix") format("embedded-opentype");
  src: url("Junction-webfont.woff") format("woff");
  src: url("Junction-webfont.ttf") format("truetype");
  src: url("Junction-webfont.svg#junctionregularRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  background: url(../images/bg-wood.jpg);
  font-family: "Junction", "helvetica neue", helvetica, arial, sans-serif; }

iframe body {
  background: white !important; }

a {
  color: #28600f; }

#top-bg {
  background: url(../images/bg-cloth.png); }

#bottom-bg {
  background: url(../images/torn-edge.png) repeat-x 0 0; }

#top-container {
  width: 940px;
  padding: 10px 10px 60px 10px;
  margin: 0 auto; }

#bottom-container {
  width: 940px;
  padding: 50px 10px 10px 10px;
  margin: 0 auto; }

#header {
  width: 940px; }

#logo {
  position: relative;
  left: -10px; }

#ulslide-1 {
  width: 940px !important;
  height: 118px !important;
  position: relative;
  z-index: 10; }

.view-photos {
  margin-bottom: 15px;
  position: relative;
  overflow: visible; }
  .view-photos .slide-node {
    padding: 7px !important; }
    .view-photos .slide-node img {
      border: 1px solid white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      display: block; }
  .view-photos .view-footer {
    position: absolute;
    top: 35px;
    width: 100%;
    height: 23px;
    z-index: 5; }
    .view-photos .view-footer a {
      background: url(../images/nav-arrows.png) no-repeat;
      text-indent: -9999px;
      display: block;
      width: 23px;
      height: 23px; }
    .view-photos .view-footer #slide-prev {
      position: relative;
      left: 35px;
      float: right;
      background-position: -23px 0; }
    .view-photos .view-footer #slide-next {
      position: relative;
      left: -35px; }

.block-title {
  font-family: "Junction"; }

#block-block-1 {
  background: url(../images/bg-bluebox.jpg) no-repeat;
  float: left;
  width: 293px;
  height: 328px; }
  #block-block-1 .block-title {
    text-align: center;
    font-size: 40px;
    color: #041117;
    margin: 20px 0 0 0;
    padding-top: 10px; }
  #block-block-1 ul {
    padding: 0 0 0 35px; }
  #block-block-1 li {
    font-family: lato;
    font-weight: 300;
    background: url(../images/bg-marker.png) no-repeat 0 50%;
    padding-left: 15px;
    font-size: 20px;
    line-height: 54px;
    list-style: none; }
    #block-block-1 li a {
      color: white;
      text-decoration: none; }
      #block-block-1 li a:hover {
        color: #5aff11; }

#block-block-2 {
  background: url(../images/bg-greenbox.jpg) no-repeat;
  float: left;
  width: 293px;
  height: 328px; }
  #block-block-2 .block-title {
    text-align: center;
    font-size: 40px;
    color: #08160b;
    margin: 20px 0 0 0;
    padding-top: 10px; }
  #block-block-2 ul {
    padding-left: 15px;
    width: 250px; }
  #block-block-2 li {
    list-style: none;
    background: url(../images/bullet-asterisk.png) no-repeat 0 4px;
    padding-left: 25px;
    margin: 15px 0;
    font-family: lato;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px; }
    #block-block-2 li a {
      color: white; }

#block-block-3 {
  text-align: center;
  font-family: "Junction";
  font-size: 22px;
  line-height: 34px;
  color: #3d3930;
  margin: 10px 0; }
  #block-block-3 h1 {
    font-family: "Journal";
    font-size: 70px;
    font-weight: normal;
    line-height: 43px;
    margin: 0; }

#block-foodisfree-blocks-donate {
  background: url(../images/bg-brownbox.jpg) no-repeat;
  float: left;
  width: 323px;
  height: 328px;
  margin: 0 15px; }
  #block-foodisfree-blocks-donate .block-title {
    text-align: center;
    font-size: 40px;
    color: #ff9c00;
    margin: 20px 0 0 0;
    padding-top: 10px; }

#block-views-video-list-block-1 .views-field-title {
  font-size: 34px;
  text-align: center;
  font-family: "Journal";
  font-weight: normal;
  color: #f3ecde; }
#block-views-video-list-block-1 .views-row {
  float: left; }
  #block-views-video-list-block-1 .views-row .views-field-field-youtube-embed-code iframe {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
#block-views-video-list-block-1 .views-row-1 {
  margin-right: 20px; }

#footer {
  clear: both;
  padding-top: 60px; }
  #footer .copy-info, #footer #credit {
    clear: both;
    width: 450px;
    margin: 20px auto;
    line-height: 20px;
    text-align: center;
    font-size: 15px; }
  #footer .copy-info {
    margin-top: 105px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: #a38868; }
  #footer #credit a {
    color: #8dcf46; }

.not-front #main {
  width: 600px;
  float: left;
  line-height: 25px; }

#sidebar {
  float: right;
  width: 300px;
  margin: 0 0 40px 40px; }

#block-block-4 {
  float: right;
  width: 265px; }
  #block-block-4 .block-title {
    font-size: 14px;
    float: left;
    color: #a38868;
    padding-top: 7px;
    margin-right: 10px; }
  #block-block-4 ul {
    padding: 0; }
  #block-block-4 li {
    float: left;
    list-style: none;
    text-indent: -9999px;
    margin: 0 5px; }
    #block-block-4 li a {
      background: url(../images/social-media-icons.png) no-repeat;
      width: 21px;
      height: 20px;
      display: block; }
  #block-block-4 #twitter a {
    background-position: -30px 0; }
  #block-block-4 #facebook a {
    background-position: -60px 0; }

#block-system-main-menu {
  float: left;
  width: 600px;
  font-size: 14px; }
  #block-system-main-menu li {
    list-style: none;
    float: left; }
    #block-system-main-menu li a {
      color: #ff9442; }
  #block-system-main-menu ul {
    padding: 2px 0 0 100px;
    background: url(../images/carrot.png) no-repeat 0 0;
    overflow: hidden; }

#block-block-5 {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 40px;
  background: #291f14;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.75), 0 2px 2px #5c452c;
  border-left: 1px solid #5c452c;
  border-right: 1px solid #5c452c;
  height: 72px; }
  #block-block-5 .block-title {
    margin: 12px 5px 0 15px;
    font-family: "Journal";
    color: #f69702;
    font-size: 32px;
    background: url(../images/sketch-arrow.png) no-repeat 100% 50%;
    float: left;
    width: 495px; }
  #block-block-5 input {
    float: left; }
  #block-block-5 .form-text {
    background: #1c150e;
    width: 280px;
    border: 1px solid #494037;
    padding: 6px 12px;
    color: #11affa;
    font-size: 19px;
    font-family: "Lato";
    font-weight: 900;
    border-radius: 4px;
    margin: 17px 8px 0 0; }
  #block-block-5 .form-submit, #block-block-5 .submit {
    font-family: "Lato";
    font-weight: 900;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    background: #31803e;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxODAzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI1NjczMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNDVmMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #31803e 0%, #256730 50%, #245f2e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #31803e), color-stop(50%, #256730), color-stop(100%, #245f2e));
    background: -webkit-linear-gradient(top, #31803e 0%, #256730 50%, #245f2e 100%);
    background: -o-linear-gradient(top, #31803e 0%, #256730 50%, #245f2e 100%);
    background: -ms-linear-gradient(top, #31803e 0%, #256730 50%, #245f2e 100%);
    background: linear-gradient(to bottom, #31803e 0%, #256730 50%, #245f2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31803e', endColorstr='#245f2e',GradientType=0 );
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    padding: 6px 13px; }
